header {
  background: url(../img/bg.jpg) fixed center/cover;

  .main-header {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 90px 0;

    h1 {
      font-family: $font1;
      font-size: 2rem;
      text-transform: uppercase;
      color: $white1;
      margin: 40px 0;

      @media screen and (max-width: 580px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 420px) {
        font-size: 1rem;
      }
    }

    img {
      width: 90%;
      max-width: 750px;
    }
    button {
      border: 1px solid $white1;
      background: none;
      padding: 20px 30px;
      text-transform: uppercase;
      font-family: $font1;
      color: $white1;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 4px;
      transition: 0.2s;
      @media screen and (max-width: 800px) {
        font-size: 0.8rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 0.6rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 0.5rem;
      }
      &:hover {
        background: $white1;
        color: $black1;
      }
      i {
        transform: translateX(5px);
      }
    }
  }
}
